*{
    margin: 0%;
    padding: 0%;
}

.app-container{
    display: flex;
}

.content{
    width: 100%;
}

.sidebar{
    min-height: 800px;
}

.post-card{
    margin: 20px 50px;

}

.tag{
    margin: 0px 2px;
}

.reaction{
    width: 100%;
}